* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

body {
  font-family: Montserrat;
  background-color: #000915;
}

.top {
  background-image: url(images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
}
.top_title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 125.007px;
  padding-top: 217px;
  padding-left: 120px;
  width: 788px;
}
.top_discription {
  color: #FFF;
  width: 481px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
  padding-top: 32px;
  padding-left: 120px;
}
.top_discription_fat {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top_button {
  border-radius: 30px;
  background: #9C0332;
  border: 1px solid #9C0332;
  width: 234.063px;
  height: 48.603px;
  margin-top: 44px;
  margin-left: 120px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_button_link {
  color: #FFF;
  text-decoration: none;
  height: 48.603px;
  cursor: url("images/cours.svg"), auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  background: #000915;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.game_content {
  border: 3px solid #000915;
  margin-top: 128px;
  position: relative;
  height: 300px;
  width: 379px;
  flex-shrink: 0;
  margin-bottom: 128px;
}
.game_content:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.game_name {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.game_image {
  cursor: url("images/cours.svg"), auto;
}

.seasons {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
}
.seasons_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 584px;
  padding-left: 120px;
}
.seasons_text_title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 282px;
}
.seasons_text_discription {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
.seasons_text_button {
  border-radius: 30px;
  background: #9C0332;
  border: 1px solid #9C0332;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.seasons_text_button_link {
  color: #FFF;
  text-decoration: none;
  height: 48.603px;
  cursor: url("images/cours.svg"), auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seasons_image {
  padding-top: 233px;
  padding-left: 135px;
  padding-bottom: 64px;
}

@media (max-width: 700px) {
  .top {
    background-image: url(images/mback.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 920px) {
  .top {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 735px;
  }
  .top_title {
    display: flex;
    width: 343px;
    height: 77.436px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 16px;
    padding-top: 238px;
  }
  .top_discription {
    width: 343px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    padding-left: 16px;
  }
  .top_discription_fat {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .top_button {
    margin-left: 0px;
    margin-bottom: 238px;
  }
  .game {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 127px;
  }
  .game_content {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    width: 343px;
    height: 300px;
  }
  .game_image {
    width: 343px;
    height: 300px;
    flex-shrink: 0;
  }
  .seasons {
    height: 653px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .seasons_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    width: 343px;
  }
  .seasons_text_title {
    padding-top: 64px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .seasons_text_discription {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
  .seasons_image {
    display: flex;
    width: 100vw;
    padding-left: 16px;
    padding-top: 64px;
    padding-bottom: 85px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */